main {
    background-color:  #2842ab14;
} 

.table tr {
    transition: background-color 0.3s ease; 
}

.table tr:hover{
    background-color:  #2842ab75;
    
}

.table tr:hover td{
    color: white;
} 

.table td{
    background-color: transparent;
}
